<% content_for :dashboard do %>
	<div class="span-22 prepend-0 append-bottom append-0">
		<h2>Dashboard</h2>
		<div id="left" class="span-11 append-bottom append-0">
			<%= render_widget :missing_manifests %>
			<%= render_widget :warranty %>
			<%= render_widget :add_package %>
		</div>
		<div id="right" class="span-11 append-bottom">
			
		</div>
	</div>
<% end %>