<% content_for :widgets do %>
	<div class="span-22 prepend-0 append-bottom append-0">
		
		<h2>Dashboard</h2>

		<div id="left" class="span-11 append-bottom append-0">
			<%= render :partial => 'widgets/recent_checkins'%>

		</div>
		
		<div id="right" class="span-11 append-bottom">
			<%= render :partial => 'widgets/missing_manifests'%>
		</div>
	</div>
<% end %>