.bundle
config/settings.yaml
config/database.yml
*.DS_Store
packages
packages/
# Don't ignore app/views/packages
!app/views/packages
gem.old
public/system
public/assets
db/*.sqlite3*
log/*.log
tmp/**/*
tmp/
.sass-cache/
.env

config/newrelic.yml
config/setup_load_paths.rb

spec/support/cassettes

coverage/

munkiscripts*.dmg
munkiscripts.pkg
script/munki_scripts/build/*

.ruby-version