language: ruby
rvm:
  - 1.9.3
  - 1.9.2
  - 2.0.0

services: mysql

script: 
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec/

before_script:
  - cp config/database.travis.yml config/database.yml
  - mysql -e 'create database munkiserver;'

notifications:
  email:
    on_success: change # default: change
    on_failure: change # default: always
