<li class="<%= membership_fields.object.principal.css_class %> membership-container" data-principal-id="<%= membership_fields.object.principal.principal_id %>">
    <%= render :partial => 'membership_form_elements', :locals => {:f => membership_fields} %>
</li>