<h2><%= @user_group %></h2>
<%= form_for @user_group, :validate => true, :url => user_group_path(@user_group.unit, @user_group), :html => {:class => "user-group-form"} do |f| %>
	<%= render :partial => 'form', :locals => {:submit_text => "Update", :f => f} %>
<% end %>