<h2>New user group</h2>
<%= form_for @user_group, :validate => true, :html => {:class => "user-group-form"} do |f| %>
	<%= render :partial => 'form', :locals => {:submit_text => "Create", :f => f} %>
<% end %>