<td>
	
</td>
<td>
	<%= label_tag "Computer Group"%>
</td>
<td>
	<%= select_tag "computer[computer_group_id]", options_from_collection_for_select(ComputerGroup.unit_and_environment(current_unit, environment_id), "id", "name")%>
</td>