<td>
	
</td>
<td>
	<%= label_tag "Computer Group" %>
</td>
<td>
	<%= select "computer", "computer_group_id", options_for_select(ComputerGroup.unit_and_environment(unit_id, environment_id).map {|cg| [cg,cg.id]}), {:include_blank => true} %>
</td>