<h2>Editing computer</h2>

<%= render :partial => 'edit_computer_form', :locals => {:submit_button_string => "Update"} %>


<% if @computer.errors.empty? %>
	<%= link_to 'Show', computer_path(@computer.unit, @computer) %>
<% else %>
	<%= link_to 'Show', computers_path(current_unit) %>
<% end %>
