<% content_for :sidebar do %>
	<h4>Did you know?</h4>
	<div class="box">
		If you hand this form a bad plist, it will barf!
	</div>
<% end -%>

<h2>Import ARD plist</h2>

<p>Select an ARD export plist file and a destination computer group.</p>

<div>
<% form_tag({:action => "create_import"}, :multipart => true) do %>
	<p><%= file_field_tag 'computer[plist]' %></p>
	<p>
		Computer group: 
		<%= select_tag "computer[computer_group_id]", options_for_select([["(Automatic)", 0]] + ComputerGroup.unit(current_unit).collect {|e| [e.name,e.id]}) %>
	</p>
	<p>
		Environment: 
		<%= select_tag "computer[environment_id]", options_for_select(Environment.all.collect {|e| [e.name,e.id]}) %>
	</p>
	<p><%= submit_tag 'Import' %></p>
<% end %>
</div>