<% content_for :sidebar do %>
	<h4>Requirements</h4>
	<div class="box">
		Hostname and MAC address are required.  <br />
		Ensure MAC address is formatted properly (e.g. aa:00:bb:22:cc:33). <br />
	</div>
<% end %>
<h2>New computer</h2>
<%= form_for(@computer, :validate => true, :html => {"data-environment-change" => computer_environment_change_url(@computer.unit,"new")}) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f, :submit_value => "Add"} %>
<% end %>