body {
	background-image:url("../images/bg.png");
	background-repeat:repeat-x;
	background-position:top;
	color:#000;
}

/* Modify H1-6 styles */
h4 {
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:2px;
	font-size:11px;
}

h5 {
	margin-bottom:0;
}

/* Set link styles */
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

/* Site header related */
#words_header {
	height:72px;
}

#header_graphic {
	/* Rainbow-ish graphic on top-left */
	position:absolute;
	top:0px;
	left:0px;
}

#site_title {
	font-variant:small-caps;
	font-weight:100;
	letter-spacing:3px;
	margin-bottom:0em;
}
#site_motto {
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:2px;
	font-size:11px;
	margin-top:0.5em;
	margin-bottom:0px;
}

#app-menu {
	height:30px;
	width: auto;
	margin-bottom:6px;
	color:#fff;
	background-color:#594F4F;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-bottom-left-radius:10px;
	-moz-border-bottom-right-radius:10px;
}

#app-menu li {
	/* Application menu */
	padding-right:10px;
}

#search {
	/* Site search area */
	height:36px;
}

#search_field {
	font-size:16px;
}

#unit_menu {
	height:36px;
}

#unit_menu ul {
	/* Unit menu UL */
	height:13px;
	padding-top:5px;
}

#unit_menu li {
	/* Units menu items */
	list-style-type:none;
	display:inline;
	padding-right:5px;
	padding-left:5px;
	padding-bottom:10px;
	font-size:16px;
}

#unit_menu li.current {
	/* Currently selected unit */
	background-image:url("../images/current_unit.png");
	background-position:bottom center;
	background-repeat:no-repeat;
}

#units_submenu {
  min-height:29px;
}

#loading_graphic {
	position:absolute;
	left:110px;
	top:38px;
}

/* Computer Table */
#bulk_edit{
	float: right;
	display:inline;
}
/* Sticky footer */

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -9em !important;
}
.footer, .push {
    height: 9em !important;
}

.footer {
	background-image:url("../images/footerbg.png");
	background-position:bottom center;
	background-repeat:repeat-x;
	font-variant:none;
	font-weight:normal;
	letter-spacing:3px;
}

.footer p {
	padding-top:1em;
}

#footer_graphic {
	/* Rainbow-ish graphic on bottom-right */
	position:fixed;
	bottom:0px;
	right:0px;
}

.footer p.text-center { text-align: center }


/* Form styles */

input[type=submit] {
	background-color:#EBEBEB;
	border: 1px solid #ADADAD;
	padding:3px;
	margin:3px;
} 

input[type=submit]:hover {
	background-color: #CCCCCC;
	cursor:pointer;
}

input[type=text] {
	border:1px solid #ADADAD;
	padding:2px;
}

input:disabled {
	color:#666;
}

label {
	cursor:pointer;
}

textarea {
	height:auto;
	width:587px; /*temporty fix in firefox, by giving a fixed value for the width*/
}

/* Record header */

.record_header_img,.record_header_img img {
	height:8em;
	padding-bottom:2em;
}

.record_header_text {
	padding-top:1em;
	padding-bottom:3em;
	height:6em;
}

.record_header_text h2 {
	margin:0em;
}
.record_header_text p {
	margin:0em;
}

/* Package picker */

.packagePicker td img {
	vertical-align:middle;
}

.groupListItem .packageListItem {
	padding-left:25px;
}

.groupListingContentsTitle {
	display:block;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:3px;
	padding-left:10px;
}
/* Tabs in Package Edit */

#multiple_import{
    float: right;
}

/* GUI view table*/

table.gui {
	padding-top:10px;
}

table.gui label {
	font-weight:normal;
}

table.gui td {
	vertical-align:top;
}

/* Form table view */
table.form {
	width:auto;
}

.toggle_container textarea{
 	height:100px;
}

.toggle_container .CodeMirror{

}

table tbody .odd{
	background: #F4F4F4;
}

tbody tr td img:hover{
	cursor:pointer;
}

/* Message / notice box */
.message {
	padding:.8em;
	margin-bottom:1em;
	border-top:2px solid #ddd;
	border-bottom:2px solid #ddd;
	height:auto; /*fixing flash height constrain*/
	padding-left:54px;
	line-height:36px;
}

.error {
	background-image:url("../images/error_icon.png");
	background-repeat:no-repeat;
	background-position:center left;
	border-left:none;
	border-right:none;
}

.field_with_errors{
	display:inline;
}

/* over writing the flash warning message for client side validations */
.field_with_errors .message {
	color: #8A1F11;
	border-top:0px;
	border-bottom:0px;
	padding:0px;
	padding-left:5px;
	margin-bottom:0px;
	line-height:16px;	
}

.warning {
	background-image:url("../images/warning_icon.png");
	background-repeat:no-repeat;
	background-position:center left;
}
.notice {
	background:none;
	background-image:url("../images/success_icon.png");
	background-repeat:no-repeat;
	background-position:center left;
	border-left:none;
	border-right:none;
}

/* Unit controller-specific */
p.member {
	margin-bottom:0em;
	padding-bottom:0em;
}

/* COLOR scheme */

body {
	/* Body text color */
	color:#000;
}

a, .ui-widget-content a {
	/* Link color */
	color:#45ADA8;
}

a:hover {
	/* Link hover color */
	color:#45ADA8;
}

/* Sidebar box and dropdown */

ul.dropdown li.current a {
	color:#000;
}

ul.dropdown li.dir li, thead th, .box {
	/* Box fill color */
	background-color:#594F4F;
	z-index:600;
}

ul.dropdown li.dir li,
ul.dropdown li.dir li a,
ul.dropdown li.dir li a:hover, 
thead th, 
.box a, 
.box a:hover,
.box,
thead th a,
thead th a:hover,
#app-menu a,
#app-menu a:hover {
	/* Box text color */
	color:#fff;
}

.box hr {
	margin-bottom:0.5em;
	margin-top:0.5em;
}

.jump_text {
	/* Hightlight text color */
	color:#45ADA8;
	
}

.clean_list {
	list-style-type:none;
}

.inline-icon {
	vertical-align: top;
}

/* ============== */
/* = Login page = */
/* ============== */

#session {
	margin-top:10em;
	margin-left:auto;
	margin-right:auto;
	border:3px solid #aaa;
	width:300px;
	height:auto;
	background-color:#fff;
}

#session #words_header {
	margin-left:40px;
}

#login_form {
	padding:40px;
}

#login_form input {
	font-size:16px;
}

#session_top {
	text-align:left;
	margin-bottom:-70px;
}

#session_bottom {
	text-align:right;
	margin-top:-77px;
}

.errorExplanation {
	padding:10px;
	color:#fff;
	background-color:#594F4F;
}

.errorExplanation h2 {
	color:#fff;
}

.installed-mark {
	color: #594F4F;
	font-size:1.5em;
}
/* hide the checkmark */
.not-installed-mark{
	font-size:1.5em;
	visibility:hidden;
}
#managed_install_report {
	border:#594F4F dashed 1px;
/*	background-color:#f6fbfb;*/
	background-color:#ecf7f6;
/*	background-color:#daefee;*/
	padding:1em;
}

.report_log {
	overflow:auto;
}

/* ============== */
/* = Lightbox me = */
/* ============== */

#effectiveItemsLink{
	float: right;
	display: inline;
}

#lightbox_target, #effectiveItems {
	text-align: center;
	-moz-border-radius: 6px;
    background: #eef2f7;
    -webkit-border-radius: 6px;
    border: 1px solid #536376;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
    padding: 14px 22px;
    width: 600px;
    position: relative;
    display: none;
}

/* ============== */
/* = Misc = */
/* ============== */

.helpful_info{
	display: inline;
	vertical-align:middle;
	cursor:pointer;
	height: 18px;
	width: 18px;
}
.helpful_info div{
	display: none;
	margin-top:5px !important;
	margin-left:5px !important;
	padding:10px !important;
	color:#fff;
	border:2px solid rgb(69, 173, 168);
	background-color:#594F4F;
	z-index: 1; /* fix for overlay CodeMirror textarea, always show top*/
}
.centerize{
	text-align: center;
}
ul.imported_link li{
    margin-left:0px !important; /* fix for imported links*/
    padding: 5px 5px;
    width:100px;
    z-index:1 !important;
}
.no_action{
    margin-left:-5px;
}
/* ============ */
/* = Warranty = */
/* ============ */

#warranty_tab .status {
  padding-left: 50px;
  min-height: 40px;
  vertical-align:middle;
  font-size:1.2em;
  font-weight:bold;
  line-height:40px;
}

#warranty_tab .green{
  background: url(/images/warranty_status_green.png) no-repeat 5px 5px;
}

#warranty_tab .red{
  background: url(/images/warranty_status_yellow.png) no-repeat 5px 5px;
}

#warranty_summary {
  padding-bottom:15px;
}


/* ============== */
/* = Widgets = */
/* ============== */

#left{
    float:left;
}
#right{
    float:right;
}
.widget{
    height:auto;
    border: 1px solid #AAA;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.widget_title{
    height:30px;
    width:auto;
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(230,230,230,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(242,245,246,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.widget_title h4{
    padding-top:10px;
    padding-left:10px;
}
.widget_body{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;
}
.alert-message{

}
.alert-message p{
    padding-top:3px;
}
.alert-message small{
    display:block;
    color:#bfbfbf;
    font-size:12px;
    font-weight:300;
}
.alert-message small:before{
    content:'\2014 \00A0';
}
/*
blockquote {margin:1.5em;color:#666;font-style:italic;}*/
.alert-message blockquote{
    margin-bottom:18px;
    border-left:5px solid #eee;
    padding-left:15px;
    font-style:normal;
}
.alert-message blockquote small{
    display:block;
    font-size:12px;
    font-weight:300;
    line-height:18px;
    color:#bfbfbf;
}
.more_info:before{
    content:"...";
}
.more_info{
    color:#bfbfbf;
}
a:hover.more_info {
    text-decoration: none;
    color:#000;
}
.alert-message-body{
    display:none;
}
.alert-message-body img{
    line-height:32px;
    vertical-align:middle;
}
.alert-message.info{
    cursor:auto;
}
.icon-trangle{
    float: right; 
    cursor:pointer;
    margin-top:-25px;
    margin-right:10px;
}
.icon-hidden{
    visibility:hidden;
}
.widget .warranty .warranty-status {
    margin-right:20px;
    min-height: 32px;
    vertical-align:middle;
    line-height:28px;
}
.widget .warranty .warranty-status .green {
    background: url(/images/warranty_status_green_small.png) no-repeat 5px 5px;
    padding-left: 30px;
}
.widget .warranty .warranty-status .red {
    background: url(/images/warranty_status_yellow_small.png) no-repeat 5px 5px;
    padding-left: 30px;
}
.widget .warranty small:before {
    content:none;
}
.widget .warranty small {
    margin-left:10px;
    display:inline;
    cursor:pointer;
}

/* Stolen from Twitter Bootstrap framework */
.well {
  background-color: whiteSmoke;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #EEE;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.permission-ui .unit-container {
  min-height:200px;
}

.principal-container, .unit-container {
  height:200px;
  overflow:scroll;
}

.principal-container ul {
  list-style-type:none;
  height:100%;
  width:100%;
  margin:0;
}

#all-principals li {
  cursor:pointer;
}

.row-list {
	margin:0;
}

.well .highlight {
  background-color: #E5E5E5;
}

li.row {
  height:16px;
  margin-top:-1px;
  padding-left:20px;
  padding-top:5px;
  padding-bottom:5px;
  background-position:left center;
  background-repeat:no-repeat;
  list-style-type:none;
  border-top:1px #ccc solid;
  border-bottom:1px #ccc solid;
  line-height:16px;
  cursor:pointer;
}

.user-principal {
  background-image:url('/images/user.png');
}

.user-group-principal {
  background-image:url('/images/user-group.png');
}

.remove-membership {
  float:right;
}

.list-filter-wrapper {
  padding-bottom:10px;
}

dd.permission-check-box {
  display:inline;
}

.zebra th {
  font-size: 13px;
}
.zebra th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.zebra th .asc { 
  background-image: url(/images/up_arrow.gif);
}

.zebra th .desc { 
  background-image: url(/images/down_arrow.gif); 
}


