<% item_list.each do |item| %>
	<div class="packageListItem">
		<%= image_tag item.package.icon.url(:tiny) %>
		<% if item.package_id.blank? %>
			<span><%= item.package.to_s %></span>
		<% else %>
			<span><%= item.package.to_s(:pretty_with_version) %></span>
		<% end -%>
		<% if target.respond_to?(:installed?) and target.installed?(item.package) %>
			<span class="installed-mark">&nbsp;&#10003;</span>
		<% end -%>
	</div>
<% end %>