<div class="record_header_img span-3">
	<%= image_tag img.url(:medium) if img %>
</div>
<div class="record_header_text span-13 last">
	<h3><%= title %></h3>
	<p><em><%= soft_info %></em></p>
	<p><strong><%= bold_info %></strong></p>
</div>