<% units.each do |unit| %>
	<% if current_unit.present? and unit.id == current_unit.id %>
		<li class="current"><%= unit.name %></li>		
	<% else %>
		<li>
			<%= link_to "#{unit.name}", unit_link(unit,params[:controller]) %>
		</li>
	<% end %>
<% end %>