<% if @widget.expiring.blank? %>
	<div class="alert-message info">
		<p><em>There are no warranties expiring anytime soon.</em></p>
	</div>
<% else %>
	<% @widget.expiring.each do |warranty| %>
		<div class="alert-message">
			<p>
				<strong><%= link_to "#{warranty.computer.name}", 
			"#{computer_path(warranty.computer.unit, warranty.computer)}\?tab=warranty_tab", :target => "_blank" %></strong>'s 
			warranty will expire in <strong><%= warranty.days_left %> days
				</strong>
				<%= link_to "more", "#", {:class => "more_info"}%>
			</p>
			<blockquote>
				<div class="alert-message-body">
					<div class="warranty-status">
						<%= render :partial => 'computers/warranty_status', :locals => {:warranty => warranty} %>
					</div>
				</div>
			</blockquote>
		</div>
	<% end %>
<% end %>