<h2>Editing <%= @bundle %></h2>

<%= form_for @bundle, :validate => true, :url => bundle_path(@bundle.unit), :html => {"data-environment-change" => bundle_environment_change_path(@bundle.unit,@bundle.id)} do |f| %>
	<%= render :partial => 'form', :locals => {:f => f, :submit_value => "Update"} %>
<% end %>

<%= link_to 'Show', bundle_path(@bundle.unit, @bundle) %>