/*
*= require style
*= require blueprint/screen
*= require blueprint/print
*= require jquery.asmselect
*= require jquery.autocomplete
*= require jqueryTabs
*= require dropdown/styles
*= require dropdown/theme
*= require jquery-ui-timepicker-addon
*= require codemirror/codemirror
*= require codemirror/clike
*= require codemirror/xml
*= require_self
*/

body {
	background-image:url("/assets/login_bg.jpg");
	background-color:#222;
}
.notice {
	background-color:#fff;
}
.warning {
	background-color:#fff;
}